/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --color-text: #000;
    --background-color: #fff;
    --background-color2: #f2f2f2; 
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}
body{
    font-size: 16px;
    color: #000;
    background: var(--background-color);        
}

.main{
    width: 100%;
    position: absolute;
}
button{
    border:none;
}
.grid {
    display: grid;
}
.item {
    margin: 5px;
    font-size: 16px;
}
.grid {
    max-width: 1000px;
    margin: 0 auto;
    border: none;
}
h1 {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}
/*nome da página*/
.logo{
    text-align: center;
    color: var(--color-text);
    font-size: 180%;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    border: 1px solid var(--color-text);
    padding: 30px;
    letter-spacing:2px;
    width: 50%;
    clear: both;
    margin: auto;
}
.nomeDaPagina{
    max-width: 100%;
    background: var(--background-color);
    padding: 20px;
}
/*menu*/
.cabecalho{
    width: 100%;
    float: left;
    padding: 1% 5%;
    background-color: var(--background-color);
    margin-bottom: 20px;
}
.btn-menu{
    float: right;
    text-align: center;
    color: black;
    cursor: pointer;
    font-size: 2em;
    line-height: 56px;
    background-color: transparent;
}
.menu{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--background-color);
    top: 0;
    left: 0;
    display: none;
}
.btn-close{
    float: right;
    color: black;
    cursor: pointer;
    font-size: 2em;
    margin-right: 5%;
    margin-top: 2%;
}
.menu ul{
    text-align: center;
    width: 100%;
    float: left;
}
.menu li{
    padding: 3%;
}
.menu li a{
    color: #000;
    font-size: 1.5em;
    padding: 2% 3%;
    font-weight: 200;
}
/* Grid */
.selecaoDaPagina {
    clear: both;
    padding: 0;
    margin: 0;
}
.span1 {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.span1:first-child{ 
    margin-left: 0; 
}
.span_3_of_3 {
    width: 100%;
}
.span2 {
    width: 66.1%;
}
.span3 {
    width: 32.2%;
}
/*Posts*/
.espacamentoDaPagina{
    max-width: 1020px;
    margin: 0 auto;
    padding: 20px;
}
.blog-post{
    background: var(--background-color2);
    margin: 0 auto 4em auto;
    padding: 35px 30px;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.3);
}
.baseLateral{
    background: var(--background-color2);
    margin: 0 auto 1.5em auto;
    width: 15em;
    padding: 20px;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.3);
}
.paragrafoDoConteudo{
    font-size: 1em;
    border-left: 5px solid #000dff;
    padding-left: 15px;
}
.paragrafoLateral{
    font-size: .9em;
    margin-top: 8px;
    margin-bottom: 0;
}
.tituloDaPostagem{
    font-size: 2.5em;
    margin-top: 15px;
}
.data{
    font-size: 1em;
    font-weight: 400;
    color: #767676;
    margin-top: -10px;
    text-decoration: underline;
    text-decoration-color: currentcolor;
    padding: 10px 0px 10px 0px;
}
.botaoLerMais{
    color: #000dff;
    font-style: italic;
    transition: all 0.4s;
}
.botaoLerMais:hover{
    color: purple;
    text-decoration: underline;
    text-decoration-color: currentcolor;
    cursor: pointer;
}
/*botão me notifique*/
.meNotifique{
    display: block;
    padding: 15px 20px;
    margin-top: .8em;
    background: #000dff;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    border-radius: 3px;
    transition: all .4s ease-in;
    font-weight: 400;
    text-transform: uppercase;
}
.meNotifique:hover{
    cursor: pointer;
    background: purple;
}

/*footer*/
#footer{
    background-color: var(--background-color);
    height: 200px;
    width: 100%;
    clear: both;
    font-size: 17px;
}
#footer p{
    color: var(--color-text);
    font-weight: 400;
    text-align: center;
    font-size: 100%;
    padding-top: 100px;
}
#footer a{
    color: var(--color-text);
}
#footer p span{
    opacity: 0.5;
}
/*responsivo*/
@media only screen and (max-width: 900px) {
    .span1{ 
        margin: 1% 0 1% 0%;
    }
    .span_3_of_3, .span2, .span3{
        width: 100%;
    }
    .baseLateral{ 
        width: 42%;
        float: left;
        margin: -2% 0 1% 1.6%;
        box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.3);
    }
}
@media only screen and (max-width: 685px) {
        .baseLateral{ 
            width: auto;
            padding: 15px;
            margin: -2% auto 8% auto;
            box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.3);
        }
        .tituloDaPostagem{ 
            font-size: 1.95em; 
        }
        .data{
            font-size: .9em; 
        }       
}
@media only screen and (max-width: 380px) {
        .paragrafoDoConteudo, .botaoLerMais{
            font-size: .9em;
        }
        .paragrafoLateral{
            font-size: .8em;
        }
        .meNotifique{
            padding: 10px 15px;
        }
}
@media screen and (min-width: 1000px){
    .btn-menu{
        display: none;
    }
    .btn-close{
        display: none;
    }
    .cabecalho{
        background-color: var(--background-color);
        z-index: 3;
        margin-bottom: 20px;
    }
    .menu{
        width: auto; 
        height: 56px; 
        line-height: 56px;
        background-color:var(--background-color);
        display: block !important; 
        position: static;
        text-align: center;
    }
    .menu li{
        padding: 0; 
        display: inline;
    }
    .menu li a{
        color: var(--color-text);
        font-size: 1.4em; 
        padding: 15px;
    }
}
